//color pallette from : https://www.colourlovers.com/palette/523071/solo_for_the_soul
$first: #B88B00; //peachy green
$second: #C3CFBA; //Soul Therapy
$third: #58341A; //cinnamon
$fourth: #2C5557; //blues for the soul
$fifth: #008288; //slow dancing

$black: #000000;
$white: #ffffff;