@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

// https://github.com/modularscale/modularscale-sass (used for fonts only)
@import 'modularscale';
$modularscale: (
  base: 16px,
  ratio: $phi
);
body { 
  font-family: 'Caveat', cursive;
}
p {
  font-size: ms(1);
}
input {
  font-size: ms(1); 
  font-family: 'Caveat', cursive;
}